<nav class="navbar navbar-expand-lg navbar-light navbar-lewagon">
  <div class="container">
    <div class="row">
      <div class="col-12 nav-container">
        <div class="navbar-title"><%= link_to "Clarity", root_path, class: "nav-title" %></div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <%= link_to "Dashboard", days_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "MoodLog", moods_path, class: "nav-link" %>
            </li>
            <%# <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="moods_path" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Mood Log
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li> %>
            <li class="nav-item">
              <%= link_to "About", root_path, class: "nav-link" %>
            </li>
            <li class="nav-item nav-login">
              <% if !user_signed_in? %>
                <span class="nav-item">
                  <%= link_to "Login", new_user_session_path, class: "nav-link log-in" %>
                </span>
              <% else %>
                <span class="nav-item ">
                  <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link log-in" %>
                </span>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
