<div class="day-show">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="day-component col-md-8">
        <%# "strftime" formats date according to the directives in the given format string. %>
        <h2><%= @day.calendar_date.strftime('%a, %d %b %Y') %></h2>
        <% if @day.calendar_date == Date.today %>
          <div class="pomo">
            <p>00:00</p>
            <div class="btn btn-peach">Start</div>
          </div>
        <% end %>
        <div class="task-list" id="task-list">
          <% if @tasks.blank? %>
            <div class="task-empty-message">Add your first task of the day.</div>
          <% else %>
            <% @tasks.sort_by{ |task| task.id }.each  do |task| %>
              <div class="task-list-item">
                <div class="task-status">
                  <div><%= render "task_status_form", task: task %></div>
                </div>
                <% if task.status == true %>
                  <div class="btn task-list-title disabled">
                    <div class="task-title"><p><%= task.title %></p></div>
                  </div>
                <% else %>
                  <div class="btn task-list-title">
                    <div class="task-title"><p><%= task.title %></p></div>
                  </div>
                <% end %>
                <div class="task-edit">
                  <%= link_to edit_day_task_path(task.id, day_id: @day.id), class: "btn-task-edit" do %>
                    <i class="fas fa-edit"></i>
                  <% end %>
                </div>
                <div class="task-delete">
                  <%= link_to day_task_path(task.id, day_id: @day.id), class: "btn-task-delete", method: :delete do %>
                    <i class="fas fa-trash-alt"></i>
                  <% end %>
                </div>
              </div>
            <% end  %>
          <% end %>
          <div class="col-md-12" id="hidden" style="display: none;">
            <%= simple_form_for([@day, @task], remote: true, :input_html => { :onsubmit => "hideNewTask()"}) do |f| %>
              <%= f.input :title, :input_html => { :class => "task-list-title" }, label: false  %>
              <%= button_tag type: 'submit', class: "task-done" do %>
                  <i class="far fa-check-circle"></i>
              <% end %>
            <% end %>
          </div>
          <div class="btn btn-new-task cancel" id="cancel-task-btn" style="display: none;">
            <div onclick="hideNewTask()">Cancel</div>
          </div>
          <div class="btn btn-new-task" id="new-task-btn" style="display: block;">
            <div onclick="hideNewTask()">Add Task</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
// Get the container element
var btnContainer = document.getElementById("task-list");

// Get all buttons with class="btn" inside the container
var btns = btnContainer.getElementsByClassName("task-list-title");

// Loop through the buttons and add the active class to the current/clicked button
for (var i = 0; i < btns.length; i++) {
  btns[i].addEventListener("click", function() {
    var current = document.getElementsByClassName("active");

    // If there's no active class
    if (current.length > 0) {
      current[0].className = current[0].className.replace(" active", "");
    }

    // Add the active class to the current/clicked button
    this.className += " active";
  });
}

function hideNewTask() {
  var x = document.getElementById("hidden");
  var y = document.getElementById("cancel-task-btn")
  var z = document.getElementById("new-task-btn")
  if (x.style.display === "none") {
    x.style.display = "block";
    y.style.display = "block";
    z.style.display = "none";
  } else {
    x.style.display = "none";
    y.style.display = "none";
    z.style.display = "block";
  }
}



</script>
